.git
.dockerignore
.byebug_history
.bundle/*
.idea/*
.kubernetes/*
/doc/*
/coverage/*
/node_modules/*
/config/master.key
/log/*
/tmp/*

# ========================
# [TAKEN FROM .gitignore]:
# ========================

#  Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore env files
.env
.production.env